In [5]:
setwd("~/dropbox/paris21/r/press")
source("Code/00. boot.R")

In [6]:
df_crs <- read_rds("data/intermediate/crs05.3_onlystats_utf8_full.rds")

In [8]:
df_crs %>%
    group_by(year)  %>% 
    summarise(total  = sum(usd_disbursement_defl))

   year total
1  2006 302.0273
2  2007 291.4734
3  2008 309.6129
4  2009 338.8133
5  2010 515.9757
6  2011 439.0693
7  2012 500.0318
8  2013 560.2214
9  2014 426.8235
10 2015 538.1788
11 2016 506.5246
12 2017 442.8908
13 2018 723.3776
14 2019 636.8536
15 2020 624.3116